<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Tailwindcss -->
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="lessons.js"></script>
    <title>After School</title>
    <!--                 <i class="fas fa-plus-circle"></i>
                <i class="fas fa-minus-circle"></i> -->
  </head>
  <body>
    <!-- root div -->
    <div id="app">
      <!-- main container -->
      <main class="flex">
        <!-- sidebar -->
        <div id="sidebar" class="bg-gray-800 p-4">
          <div class="flex flex-col items-center px-2 space-y-40 relative">
            <!-- Home icon -->
            <div>
              <i
                class="
                  fas
                  fa-graduation-cap
                  text-3xl text-orange-500
                  cursor-pointer
                "
              ></i>
            </div>
            <!-- Cart icon -->
            <div v-if="toggle">
              <i class="fas fa-shopping-bag text-gray-200 text-2xl text-2xl
                  mt-20
                  text-white
                  cursor-pointer
                  hover:text-gray-500" @click="toggleCheckout"></i>
            </div>
            <div v-else-if="!toggle">
              
              <i
                class="
                  fas
                  fa-shopping-cart
                  text-2xl
                  mt-20
                  text-white
                  cursor-pointer
                  hover:text-gray-500
                "
                @click="toggleCheckout"
              ></i>
              <div
              v-show="cartCount > 0"
                class="
                  absolute
                  bg-orange-400
                  bottom-0
                  right-0
                  px-1
                  text-md
                  rounded-full
                "
              >
                {{cartCount}}
              </div>
            </div>
          </div>
        </div>
        <!-- content -->
        <div id="content" class="bg-gray-200 w-screen">
          <!-- header -->
          <header class="p-2 flex items-center justify-center">
            <div
              class="
                flex
                items-center
                space-x-2
                bg-gray-100
                p-2
                mt-2
                rounded-xl
                w-64
              "
            >
              <i class="fas fa-search text-orange-500"></i>
              <input
                type="text"
                placeholder="search lessons"
                class="bg-transparent outline-none"
              />
            </div>
          </header>
          <!--content section -->
          <section class="p-4">
            <h1 class="flex justify-center font-semibold text-gray-700">
              Available Classes
            </h1>
            <!-- lessons container -->
            <div class="flex items-center flex-wrap justify-center">
              <!-- single lesson container -->
              <div
                v-for="lesson in lessons"
                :key="lesson.id"
                class="
                  flex
                  items-center
                  space-x-4
                  m-4
                  p-2
                  bg-gray-400
                  rounded-md
                  relative
                "
              >
                <!-- image container -->
                <div>
                  <img
                    :src="lesson.image"
                    alt="maths"
                    width="150"
                    height="150"
                  />
                </div>
                <!-- lesson details -->
                <div class="flex flex-col w-32 space-y-2">
                  <p class="flex items-center">
                    <i class="fas fa-book-reader px-2"></i>{{lesson.subject}}
                  </p>
                  <p class="flex items-center">
                    <i class="fas fa-map-marker-alt px-2 text-red-800"></i
                    >{{lesson.location}}
                  </p>
                  <p class="flex items-center">
                    <i class="fas fa-users px-2 text-green-600"></i
                    >{{lesson.space}}
                  </p>
                  <p
                    class="
                      flex
                      items-center
                      px-2
                      text-xl text-green-800
                      font-semibold
                    "
                  >
                    <i class="fas fa-pound-sign"></i>{{lesson.price}}
                  </p>
                </div>
                <i
                  class="
                    fas
                    fa-plus-circle
                    text-5xl text-gray-600
                    hover:text-gray-800
                    cursor-pointer
                    absolute
                    bottom-0
                    right-0
                  "
                  @click="addToCart(lesson)"
                ></i>
              </div>
            </div>
          </section>
        </div>
      </main>
    </div>

    <!-- Vue app file -->
    <script src="app.js"></script>
  </body>
</html>
